@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.input-block {
  display: flex;
  flex-direction: column;
  &__header {
    color: $silver;
    margin: 0;
    padding-bottom: 10px;
    font-size: 0.875rem;
  }

  &__input {
    border: 1px solid $mercury;
    background-color: $alabaster;
    border-radius: 4px;
    padding-left: 16px;
    resize: none;
    height: 36px;
  }

  &__input::placeholder {
    padding-top: 10px;
    font-family: 'Avenir Regular';
  }

  &__input--large {
    height: 100px;
  }
}
