@use '../../styles/partials/colors.scss' as *;

.text-area-block {
  display: flex;
  flex-direction: column;
  &__header {
    color: $silver;
    margin: 0;
    padding-bottom: 10px;
    font-size: 0.875rem;
  }

  &__input {
    border: 1px solid $mercury;
    background-color: $alabaster;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 20px;
    resize: none;
    height: 100px;
  }

  &__input::placeholder {
    font-family: 'Avenir Regular';
  }
}
