@use '../../styles/partials/breakpoints' as *;

.header {
  display: flex;
  flex-wrap: wrap;
  &__avatar {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
  }
}

/* for small layout */
@include small() {
  .header {
    padding: 24px 16px 16px 16px;

    &__logo-block {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 16px;
    }

    &__right {
      justify-content: center;
      width: 100%;
    }

    &__avatar {
      margin-left: auto;
    }

    &__button {
      margin-top: 16px;
      width: 100%;
    }
  }
}

/* for medium layout */
@include medium() {
  .header {
    align-items: center;
    justify-content: space-between;
    padding: 24px 36px 24px 36px;

    &__logo-block {
      margin-top: 5px;
    }

    &__search-bar {
      margin-right: 20px;
    }

    &__avatar {
      order: 3;
    }

    &__button {
      order: 2;
      margin-right: 20px;
    }
  }
}

/* for large layout */
@include large() {
  .header {
    align-items: center;
    justify-content: space-between;
    padding: 24px 126px 24px 126px;

    &__logo-block {
      margin-top: 5px;
    }

    &__search-bar {
      margin-right: 20px;
    }

    &__avatar {
      order: 3;
    }

    &__button {
      order: 2;
      margin-right: 30px;
    }
  }
}
