@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

.comment-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $mercury;

  &__left {
    width: 10%;
  }

  &__avatar {
    background-color: #e1e1e1;
    border-radius: 50%;
  }

  &__right {
    width: 85%;
  }

  &__user-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__user-name {
    margin: 0;
    font-family: 'Avenir Bold';
  }

  &__comment {
    padding-top: 10px;
  }

  &__date {
    margin: 0;
    color: $silver;
  }

  &__likes {
    padding-top: 10px;
  }

  &__likes-delete-icon {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  &__like-icon {
    margin-right: 10px;
    cursor: pointer;
  }

  &__delete-icon {
    cursor: pointer;
  }
}

/* for small layout */
@include small() {
  .comment-row {
    &__avatar {
      height: 36px;
      width: 36px;
    }
  }
}

/* for medium layout */
@include medium() {
  .comment-row {
    &__avatar {
      height: 48px;
      width: 48px;
    }
  }
}

/* for large layout */
@include large() {
  .comment-row {
    padding-right: 24px;
    &__avatar {
      height: 48px;
      width: 48px;
    }
  }
}
