@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

.next-video-list {
  p {
    margin: 0;
  }
  &__header {
    color: $silver;
  }
}

@include small() {
  .next-video-list {
    padding-top: 16px;

    &__header {
      padding-bottom: 24px;
    }
  }
}

@include medium() {
  .next-video-list {
    padding-top: 36px;

    &__header {
      padding-bottom: 16px;
    }
  }
}

@include large() {
  .next-video-list {
    padding-top: 48px;
    padding-left: 24px;

    &__header {
      padding-bottom: 16px;
    }
  }
}
